<%- include("partials/header") -%>

<main>
    <div class="container">

        <h2>Register</h2>

        <form action="#" method="post" class="p-2 m-2">

            <input class="form-control m-2" type="text" id="name" name="name" placeholder="Name"
                aria-label="default input example" required="required">
            <input class="form-control m-2" type="text" id="email" name="email" placeholder="Email Address"
                aria-label="default input example" required="required">
            <input class="form-control m-2" type="password" id="password" name="password" placeholder="password"
                aria-label="default input example" required="required">
            <button class="btn btn-primary m-2" type="submit">Register</button>
        </form>
        <div>
            <p>Back to Login</p>
        </div>
    </div>
</main>

</body>

</html>